<a href="https://colab.research.google.com/github/shcho11/03.IBM_AI_Engineering_2022/blob/main/introDL_finalD_20220815.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Deep Learning & Neural Networks with Keras - Final Assignment D

## D. Increase the number of hidden layers (5 marks)

<strong> Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B? </strong>

c.f) Part C. Increate the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

c.f) Part B. Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

c.f) Part A : <br>
Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [2]:
import pandas as pd
import numpy as np
import keras
from tensorflow.keras.models import Sequential
#from keras.models import Sequential
from keras.layers import Dense

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

### download the data and read it into a pandas dataframe.

In [3]:
concrete_data = pd.read_csv('/content/drive/MyDrive/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split & Normalize Dataset

In [7]:
from sklearn.model_selection import train_test_split

concrete_data_columns = concrete_data.columns
x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
y = concrete_data['Strength']

In [8]:
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
x_norm = (x - x.mean()) / x.std()
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
n_cols = x_norm.shape[1]
n_cols

8

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x_norm, y, test_size = 0.3, random_state = 42)

In [13]:
x_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
196,-0.827393,-0.856472,0.723653,-0.747734,0.216835,0.430603,1.650364,-0.279597
631,0.419421,-0.856472,-0.846733,0.113922,-1.038638,1.158540,0.117485,-0.612034
81,0.360094,1.606458,-0.846733,-1.211343,1.355131,-1.553862,1.332313,-0.675355
526,0.744760,-0.636257,1.356496,-1.290952,0.785983,-0.397651,0.341992,-0.675355
830,-1.140293,1.345678,1.465876,-0.120224,2.141895,-1.735203,-0.406362,-0.279597

In [14]:
y_train.head()

196    25.72
631    17.54
81     25.20
526    23.64
830    33.76
Name: Strength, dtype: float64

In [16]:
# define regression model
# Three hidden layers, each of 10 nodes and ReLU activation function.

def reg_model2():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [17]:
#tf.compat.v1.get_default_graph

In [18]:
model = reg_model2()

In [19]:
# fit the model
model.fit(x_train, y_train, validation_split=0.3, epochs=50, verbose=2)

Epoch 1/50
16/16 - 2s - loss: 1619.4924 - val_loss: 1492.9633 - 2s/epoch - 114ms/step
Epoch 2/50
16/16 - 0s - loss: 1607.3961 - val_loss: 1480.7393 - 83ms/epoch - 5ms/step
Epoch 3/50
16/16 - 0s - loss: 1593.4104 - val_loss: 1465.1052 - 82ms/epoch - 5ms/step
Epoch 4/50
16/16 - 0s - loss: 1574.8787 - val_loss: 1443.8883 - 67ms/epoch - 4ms/step
Epoch 5/50
16/16 - 0s - loss: 1548.2885 - val_loss: 1413.6505 - 64ms/epoch - 4ms/step
Epoch 6/50
16/16 - 0s - loss: 1509.9846 - val_loss: 1370.2695 - 59ms/epoch - 4ms/step
Epoch 7/50
16/16 - 0s - loss: 1454.5033 - val_loss: 1309.0680 - 57ms/epoch - 4ms/step
Epoch 8/50
16/16 - 0s - loss: 1376.9612 - val_loss: 1222.8358 - 77ms/epoch - 5ms/step
Epoch 9/50
16/16 - 0s - loss: 1269.3950 - val_loss: 1106.2239 - 58ms/epoch - 4ms/step
Epoch 10/50
16/16 - 0s - loss: 1123.4790 - val_loss: 956.9889 - 86ms/epoch - 5ms/step
Epoch 11/50
16/16 - 0s - loss: 946.8549 - val_loss: 775.5415 - 58ms/epoch - 4ms/step
Epoch 12/50
16/16 - 0s - loss: 742.3002 - val_loss: 580.2504 - 70ms/epoch - 4ms/step
Epoch 13/50
16/16 - 0s - loss: 531.5483 - val_loss: 410.6177 - 58ms/epoch - 4ms/step
Epoch 14/50
16/16 - 0s - loss: 374.0411 - val_loss: 296.1875 - 59ms/epoch - 4ms/step
Epoch 15/50
16/16 - 0s - loss: 286.5720 - val_loss: 242.0764 - 56ms/epoch - 3ms/step
Epoch 16/50
16/16 - 0s - loss: 253.5069 - val_loss: 217.9748 - 73ms/epoch - 5ms/step
Epoch 17/50
16/16 - 0s - loss: 238.1676 - val_loss: 205.3921 - 79ms/epoch - 5ms/step
Epoch 18/50
16/16 - 0s - loss: 226.4980 - val_loss: 196.2502 - 96ms/epoch - 6ms/step
Epoch 19/50
16/16 - 0s - loss: 217.5892 - val_loss: 191.2389 - 75ms/epoch - 5ms/step
Epoch 20/50
16/16 - 0s - loss: 210.7434 - val_loss: 185.8100 - 78ms/epoch - 5ms/step
Epoch 21/50
16/16 - 0s - loss: 204.7589 - val_loss: 181.4713 - 65ms/epoch - 4ms/step
Epoch 22/50
16/16 - 0s - loss: 198.9553 - val_loss: 177.8825 - 72ms/epoch - 4ms/step
Epoch 23/50
16/16 - 0s - loss: 194.5558 - val_loss: 175.2863 - 74ms/epoch - 5ms/step
Epoch 24/50
16/16 - 0s - loss: 190.1699 - val_loss: 171.9184 - 58ms/epoch - 4ms/step
Epoch 25/50
16/16 - 0s - loss: 186.0858 - val_loss: 169.1713 - 57ms/epoch - 4ms/step
Epoch 26/50
16/16 - 0s - loss: 182.6908 - val_loss: 166.6550 - 62ms/epoch - 4ms/step
Epoch 27/50
16/16 - 0s - loss: 179.3470 - val_loss: 164.9618 - 56ms/epoch - 3ms/step
Epoch 28/50
16/16 - 0s - loss: 176.4228 - val_loss: 163.0379 - 60ms/epoch - 4ms/step
Epoch 29/50
16/16 - 0s - loss: 173.8145 - val_loss: 161.3073 - 60ms/epoch - 4ms/step
Epoch 30/50
16/16 - 0s - loss: 171.4415 - val_loss: 159.4289 - 77ms/epoch - 5ms/step
Epoch 31/50
16/16 - 0s - loss: 168.8038 - val_loss: 157.7230 - 60ms/epoch - 4ms/step
Epoch 32/50
16/16 - 0s - loss: 166.7230 - val_loss: 156.1371 - 62ms/epoch - 4ms/step
Epoch 33/50
16/16 - 0s - loss: 165.0552 - val_loss: 154.7918 - 58ms/epoch - 4ms/step
Epoch 34/50
16/16 - 0s - loss: 163.2016 - val_loss: 153.2239 - 66ms/epoch - 4ms/step
Epoch 35/50
16/16 - 0s - loss: 160.8227 - val_loss: 151.8822 - 58ms/epoch - 4ms/step
Epoch 36/50
16/16 - 0s - loss: 158.9750 - val_loss: 150.4075 - 71ms/epoch - 4ms/step
Epoch 37/50
16/16 - 0s - loss: 156.8503 - val_loss: 149.2954 - 55ms/epoch - 3ms/step
Epoch 38/50
16/16 - 0s - loss: 155.3588 - val_loss: 148.4688 - 58ms/epoch - 4ms/step
Epoch 39/50
16/16 - 0s - loss: 153.7457 - val_loss: 147.0844 - 55ms/epoch - 3ms/step
Epoch 40/50
16/16 - 0s - loss: 151.9598 - val_loss: 145.8372 - 58ms/epoch - 4ms/step
Epoch 41/50
16/16 - 0s - loss: 150.7329 - val_loss: 144.3011 - 56ms/epoch - 4ms/step
Epoch 42/50
16/16 - 0s - loss: 148.9566 - val_loss: 143.3162 - 55ms/epoch - 3ms/step
Epoch 43/50
16/16 - 0s - loss: 147.2548 - val_loss: 141.8108 - 55ms/epoch - 3ms/step
Epoch 44/50
16/16 - 0s - loss: 145.7460 - val_loss: 140.8844 - 59ms/epoch - 4ms/step
Epoch 45/50
16/16 - 0s - loss: 144.3336 - val_loss: 139.6915 - 57ms/epoch - 4ms/step
Epoch 46/50
16/16 - 0s - loss: 143.0110 - val_loss: 138.7932 - 58ms/epoch - 4ms/step
Epoch 47/50
16/16 - 0s - loss: 141.3401 - val_loss: 137.1746 - 74ms/epoch - 5ms/step
Epoch 48/50
16/16 - 0s - loss: 139.9454 - val_loss: 136.2618 - 71ms/epoch - 4ms/step
Epoch 49/50
16/16 - 0s - loss: 138.4401 - val_loss: 135.2137 - 76ms/epoch - 5ms/step
Epoch 50/50
16/16 - 0s - loss: 137.7220 - val_loss: 134.4952 - 82ms/epoch - 5ms/step

In [20]:
# Evaluate the model on the test data using 'evaluate'
print("Evaluate on test data")
results = model.evaluate(x_test, y_test)
print("test loss : ", results)

y_pred = model.predict(x_test)
print("prediction shape:", y_pred.shape)

Evaluate on test data
10/10 [==============================] - 0s 2ms/step - loss: 139.7204
test loss :  139.72039794921875
prediction shape: (309, 1)

In [21]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
sd_mse = np.std(mse)
print(mse, sd_mse)

139.72038664510004 0.0

In [23]:
times = 50
epochs = 50
mse_list = []

for i in range(1, times+1) : 
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
  model.fit(x_train, y_train, validation_split=0.3, epochs=epochs, verbose=0)
  results = model.evaluate(x_test, y_test, verbose=0)
  print("MSE {} : {}".format(i,results))
  y_pred = model.predict(x_test)
  mse = mean_squared_error(y_test, y_pred)
  mse_list.append(mse)

mse_list = np.array(mse_list)
mean_mse_list = np.mean(mse_list)
sd_mse_list = np.std(mse_list)

print("\n")
print("Results(Question D : With Normalization & 2 more hidden layers) :", "\n")
print("Mean of 50 MSEs: {}".format(mean_mse_list))
print("Standard deviation of 50 MSEs : {}".format(sd_mse_list))

MSE 1 : 73.09089660644531
MSE 2 : 77.49246215820312
MSE 3 : 75.57105255126953
MSE 4 : 80.4776382446289
MSE 5 : 73.2695541381836
MSE 6 : 72.34440612792969
MSE 7 : 73.80081939697266
MSE 8 : 73.42546081542969
MSE 9 : 72.8132553100586
MSE 10 : 71.41777801513672
MSE 11 : 86.01299285888672
MSE 12 : 71.53760528564453
MSE 13 : 72.37126159667969
MSE 14 : 73.35337829589844
MSE 15 : 76.63671875
MSE 16 : 73.57495880126953
MSE 17 : 73.57847595214844
MSE 18 : 70.07758331298828
MSE 19 : 69.01873779296875
MSE 20 : 75.08114624023438
MSE 21 : 68.57466125488281
MSE 22 : 69.8071060180664
MSE 23 : 78.7248764038086
MSE 24 : 68.63861083984375
MSE 25 : 67.98063659667969
MSE 26 : 73.81449890136719
MSE 27 : 75.36083221435547
MSE 28 : 67.69597625732422
MSE 29 : 65.71659088134766
MSE 30 : 65.0013427734375
MSE 31 : 71.1646728515625
MSE 32 : 72.9969253540039
MSE 33 : 63.827598571777344
MSE 34 : 60.69280242919922
MSE 35 : 55.13037872314453
MSE 36 : 53.89797592163086
MSE 37 : 59.02678298950195
MSE 38 : 56.10833740234375
MSE 39 : 51.0750846862793
MSE 40 : 49.58749771118164
MSE 41 : 54.69117736816406
MSE 42 : 55.096981048583984
MSE 43 : 50.39103317260742
MSE 44 : 50.58723831176758
MSE 45 : 49.244140625
MSE 46 : 54.99497985839844
MSE 47 : 50.60372543334961
MSE 48 : 51.155460357666016
MSE 49 : 50.57058334350586
MSE 50 : 51.26738357543945


Results(Question D : With Normalization & 2 more hidden layers) :

Mean of 50 MSEs: 65.96744338678673
Standard deviation of 50 MSEs : 10.030979774535426