<a href="https://colab.research.google.com/github/shcho11/03.IBM_AI_Engineering_2022/blob/main/introDL_finalA_20220815.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Deep Learning & Neural Networks with Keras - Final Assignment A

### A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [3]:
import pandas as pd
import numpy as np
import keras
from tensorflow.keras.models import Sequential
#from keras.models import Sequential
from keras.layers import Dense

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

### download the data and read it into a pandas dataframe.

In [4]:
concrete_data = pd.read_csv('/content/drive/MyDrive/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

Submit your Jupyter Notebook with your code and comments.

### Split dataset

In [8]:
from sklearn.model_selection import train_test_split

concrete_data_columns = concrete_data.columns
x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
y = concrete_data['Strength']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [13]:
n_cols = x.shape[1]
n_cols

8

In [14]:
x_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
196,194.7,0.0,100.5,165.6,7.5,1006.4,905.9,28
631,325.0,0.0,0.0,184.0,0.0,1063.0,783.0,7
81,318.8,212.5,0.0,155.7,14.3,852.1,880.4,3
526,359.0,19.0,141.0,154.0,10.9,942.0,801.0,3
830,162.0,190.0,148.0,179.0,19.0,838.0,741.0,28

In [15]:
y_train.head()

196    25.72
631    17.54
81     25.20
526    23.64
830    33.76
Name: Strength, dtype: float64

In [16]:
# define regression model
def reg_model1():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [17]:
#tf.compat.v1.get_default_graph

In [18]:
model = reg_model1()

In [19]:
# fit the model
model.fit(x_train, y_train, validation_split=0.3, epochs=50, verbose=1)

Epoch 1/50
16/16 [==============================] - 1s 14ms/step - loss: 312819.7500 - val_loss: 246239.1562
Epoch 2/50
16/16 [==============================] - 0s 3ms/step - loss: 213591.4219 - val_loss: 162981.8438
Epoch 3/50
16/16 [==============================] - 0s 4ms/step - loss: 139615.8750 - val_loss: 102811.0312
Epoch 4/50
16/16 [==============================] - 0s 4ms/step - loss: 87250.0859 - val_loss: 61240.2891
Epoch 5/50
16/16 [==============================] - 0s 3ms/step - loss: 51606.7266 - val_loss: 34685.4336
Epoch 6/50
16/16 [==============================] - 0s 3ms/step - loss: 29573.8516 - val_loss: 18910.1523
Epoch 7/50
16/16 [==============================] - 0s 3ms/step - loss: 16974.8418 - val_loss: 10715.8672
Epoch 8/50
16/16 [==============================] - 0s 3ms/step - loss: 10540.2852 - val_loss: 7085.4541
Epoch 9/50
16/16 [==============================] - 0s 3ms/step - loss: 7721.8877 - val_loss: 5689.2295
Epoch 10/50
16/16 [==============================] - 0s 3ms/step - loss: 6626.4492 - val_loss: 5205.4170
Epoch 11/50
16/16 [==============================] - 0s 3ms/step - loss: 6139.5098 - val_loss: 5005.4077
Epoch 12/50
16/16 [==============================] - 0s 3ms/step - loss: 5878.9663 - val_loss: 4821.1177
Epoch 13/50
16/16 [==============================] - 0s 4ms/step - loss: 5645.0708 - val_loss: 4628.4390
Epoch 14/50
16/16 [==============================] - 0s 3ms/step - loss: 5395.1890 - val_loss: 4430.1870
Epoch 15/50
16/16 [==============================] - 0s 3ms/step - loss: 5124.3711 - val_loss: 4141.5171
Epoch 16/50
16/16 [==============================] - 0s 4ms/step - loss: 4680.6538 - val_loss: 3632.1040
Epoch 17/50
16/16 [==============================] - 0s 4ms/step - loss: 4009.5688 - val_loss: 2961.5034
Epoch 18/50
16/16 [==============================] - 0s 3ms/step - loss: 3344.4919 - val_loss: 2530.6965
Epoch 19/50
16/16 [==============================] - 0s 4ms/step - loss: 2908.1768 - val_loss: 2209.5098
Epoch 20/50
16/16 [==============================] - 0s 3ms/step - loss: 2501.8440 - val_loss: 1898.7703
Epoch 21/50
16/16 [==============================] - 0s 3ms/step - loss: 2146.4155 - val_loss: 1637.7086
Epoch 22/50
16/16 [==============================] - 0s 3ms/step - loss: 1852.4728 - val_loss: 1412.3396
Epoch 23/50
16/16 [==============================] - 0s 4ms/step - loss: 1602.7094 - val_loss: 1233.8950
Epoch 24/50
16/16 [==============================] - 0s 3ms/step - loss: 1408.8593 - val_loss: 1083.8384
Epoch 25/50
16/16 [==============================] - 0s 4ms/step - loss: 1239.4200 - val_loss: 967.6241
Epoch 26/50
16/16 [==============================] - 0s 3ms/step - loss: 1111.0287 - val_loss: 868.2999
Epoch 27/50
16/16 [==============================] - 0s 3ms/step - loss: 1005.1783 - val_loss: 789.9285
Epoch 28/50
16/16 [==============================] - 0s 4ms/step - loss: 911.1187 - val_loss: 728.2599
Epoch 29/50
16/16 [==============================] - 0s 3ms/step - loss: 841.0194 - val_loss: 676.8621
Epoch 30/50
16/16 [==============================] - 0s 4ms/step - loss: 781.8298 - val_loss: 634.5573
Epoch 31/50
16/16 [==============================] - 0s 3ms/step - loss: 737.3011 - val_loss: 600.3907
Epoch 32/50
16/16 [==============================] - 0s 4ms/step - loss: 691.3606 - val_loss: 567.7029
Epoch 33/50
16/16 [==============================] - 0s 4ms/step - loss: 654.2647 - val_loss: 542.9958
Epoch 34/50
16/16 [==============================] - 0s 4ms/step - loss: 623.6442 - val_loss: 520.4691
Epoch 35/50
16/16 [==============================] - 0s 4ms/step - loss: 597.8005 - val_loss: 503.8462
Epoch 36/50
16/16 [==============================] - 0s 3ms/step - loss: 571.7686 - val_loss: 482.8646
Epoch 37/50
16/16 [==============================] - 0s 4ms/step - loss: 550.9066 - val_loss: 466.6586
Epoch 38/50
16/16 [==============================] - 0s 3ms/step - loss: 529.5880 - val_loss: 451.1930
Epoch 39/50
16/16 [==============================] - 0s 3ms/step - loss: 512.6639 - val_loss: 436.7639
Epoch 40/50
16/16 [==============================] - 0s 3ms/step - loss: 494.0418 - val_loss: 425.2047
Epoch 41/50
16/16 [==============================] - 0s 3ms/step - loss: 484.8699 - val_loss: 411.5339
Epoch 42/50
16/16 [==============================] - 0s 3ms/step - loss: 471.3182 - val_loss: 399.7217
Epoch 43/50
16/16 [==============================] - 0s 4ms/step - loss: 448.6300 - val_loss: 387.8908
Epoch 44/50
16/16 [==============================] - 0s 4ms/step - loss: 434.3934 - val_loss: 377.7204
Epoch 45/50
16/16 [==============================] - 0s 4ms/step - loss: 421.2097 - val_loss: 367.8630
Epoch 46/50
16/16 [==============================] - 0s 4ms/step - loss: 410.3954 - val_loss: 360.0315
Epoch 47/50
16/16 [==============================] - 0s 4ms/step - loss: 403.9392 - val_loss: 348.3692
Epoch 48/50
16/16 [==============================] - 0s 4ms/step - loss: 387.7425 - val_loss: 340.3588
Epoch 49/50
16/16 [==============================] - 0s 4ms/step - loss: 373.8008 - val_loss: 330.2001
Epoch 50/50
16/16 [==============================] - 0s 4ms/step - loss: 362.9137 - val_loss: 322.6892

In [20]:
# Evaluate the model on the test data using 'evaluate'
print("Evaluate on test data")
results = model.evaluate(x_test, y_test)
print("test loss : ", results)

y_pred = model.predict(x_test)
print("prediction shape:", y_pred.shape)

Evaluate on test data
10/10 [==============================] - 0s 1ms/step - loss: 364.6763
test loss :  364.67626953125
prediction shape: (309, 1)

In [21]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
sd_mse = np.std(mse)
print(mse, sd_mse)

364.67621631168714 0.0

In [22]:
times = 50
epochs = 50
mse_list = []

for i in range(1, times+1) : 
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
  model.fit(x_train, y_train, validation_split=0.3, epochs=epochs, verbose=0)
  results = model.evaluate(x_test, y_test, verbose=0)
  print("MSE {} : {}".format(i,results))
  y_pred = model.predict(x_test)
  mse = mean_squared_error(y_test, y_pred)
  mse_list.append(mse)

mse_list = np.array(mse_list)
mean_mse_list = np.mean(mse_list)
sd_mse_list = np.std(mse_list)

print("Results(Question A : Without Normalization) :", "\n")
print("Mean of 50 MSEs: {}".format(mean_mse_list))
print("Standard deviation of 50 MSEs : {}".format(sd_mse_list))

MSE 1 : 136.00015258789062
MSE 2 : 78.24777221679688
MSE 3 : 72.0493392944336
MSE 4 : 66.1751708984375
MSE 5 : 59.93763732910156
MSE 6 : 56.49705505371094
MSE 7 : 53.183563232421875
MSE 8 : 52.256591796875
MSE 9 : 49.390140533447266
MSE 10 : 55.85447692871094
MSE 11 : 60.67856979370117
MSE 12 : 52.91934585571289
MSE 13 : 47.985015869140625
MSE 14 : 64.77572631835938
MSE 15 : 52.121856689453125
MSE 16 : 74.45232391357422
MSE 17 : 50.23686981201172
MSE 18 : 51.21064376831055
MSE 19 : 51.195594787597656
MSE 20 : 51.11358642578125
MSE 21 : 49.66397476196289
MSE 22 : 50.13877487182617
MSE 23 : 50.072025299072266
MSE 24 : 49.182952880859375
MSE 25 : 48.869850158691406
MSE 26 : 51.500762939453125
MSE 27 : 48.730812072753906
MSE 28 : 57.98074722290039
MSE 29 : 50.429935455322266
MSE 30 : 48.6087760925293
MSE 31 : 48.78319549560547
MSE 32 : 61.49333953857422
MSE 33 : 55.181785583496094
MSE 34 : 49.357444763183594
MSE 35 : 52.519771575927734
MSE 36 : 50.4306640625
MSE 37 : 48.66603469848633
MSE 38 : 47.598915100097656
MSE 39 : 48.10736846923828
MSE 40 : 46.666133880615234
MSE 41 : 51.589107513427734
MSE 42 : 47.612213134765625
MSE 43 : 48.572532653808594
MSE 44 : 46.826351165771484
MSE 45 : 53.64013671875
MSE 46 : 52.492706298828125
MSE 47 : 55.02932357788086
MSE 48 : 50.28988265991211
MSE 49 : 48.44623565673828
MSE 50 : 46.34086608886719
Results(Question A : Without Normalization) :

Mean of 50 MSEs: 55.022081724290985
Standard deviation of 50 MSEs : 13.539168764434484